{% extends "layout.html.twig" %}

{% block body %}
    <!-- Register Section-->
    <section class="masthead page-section" id="register">
        <div
            class="container">
            <!-- Register Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">S'enregistrer</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Register Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    {% if success %}
                        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                            <i class="fa-solid fa-check me-2"></i>{{ success }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if failure %}
                        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                            <i class="fa-solid fa-ban me-2"></i>{{ failure }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * Register Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <form id="registerForm" method="post" action="?action=adduser">
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" {% if _get['email'] %} value={{ _get['email'] }} {% endif %}/>
                            <label for="email">Email</label>
                        </div>
                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password" placeholder="JdIcA48*"/>
                            <label for="password">Mot de passe</label>
                        </div>
                        <!-- Confirm password input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="JdIcA48*" aria-labelledby="passwordHelpBlock"/>
                            <label for="confirmPassword">Confirmation du mot de passe</label>
                        </div>
                        <div id="passwordHelpBlock" class="form-text mb-3">
                            Votre mot de passe doit comporter au moins 8 caractères et doit inclure au moins une lettre																																																																																																												                            majuscule, une lettre minuscule un chiffre et un caractère spécial.
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">S'enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}